.container {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-color: lightblue;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameInfo {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 20px;
}